.WorksContainer {
  margin-top: 30px;
}
.WorksContainer .WorkTextContainer .WorkText {
  width: 722px;
  height: 122px;
  margin: 0 auto;
}
.WorksContainer .WorkTextContainer .WorkText h1 {
  font-family: "Lufga Bold";
  color: var(--text-color);
  font-size: 46px;
  line-height: 66px;
  text-align: center;
}
.WorksContainer .WorkTextContainer .WorkText span {
  color: var(--primary-color);
}
.WorksContainer .WorkTextContainer .WorkText p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}

.WorksContainer .MuiButtonBase-root {
  max-width: 160px !important;
  width: 100% !important;
  background-color: transparent !important; /* Default background */
  border: 1px solid #1e1e1e !important;
  transition: background-color 0.3s ease, color 0.3s ease !important; /* Smooth transition */
}

.WorksContainer .MuiButtonBase-root[aria-selected="true"] {
  background-color: var(
    --primary-color
  ) !important; /* Highlighted background */
  color: var(--text-color) !important; /* Highlighted text color */
  font-weight: 700 !important;
}

.WorksContainer .MuiButtonBase-root:first-child {
  border-right: 1px solid #1e1e1e !important;
  border-radius: 12px 0 0 12px !important;
}

.WorksContainer .MuiButtonBase-root:last-child {
  border-left: 1px solid #1e1e1e !important;
  border-radius: 0 12px 12px 0 !important;
}

.WorksContainer .MuiTabs-scroller {
  display: flex !important;
  justify-content: center !important;
  margin-top: 20px;
}
.WorksContainer .MuiTabPanel-root {
  display: flex !important;
  gap: 20px !important;
}
.MuiTabs-flexContainer {
  min-width: 100% !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}
.WorksContainer .MuiTabPanel-root {
  padding: 0 !important;
}
.WorksContainer .MuiTabs-indicator {
  display: none !important;
}
.TabsCards {
  margin-top: 30px;
  margin-bottom: 30px;
}
/* Cards Styling */
.Card {
  width: fit-content;
  padding: 30px;
  border-radius: 12px;
  border: 1.5px solid var(--primary-color);
  max-width: 286px;
}
.Card .cardLogo {
  padding: 12px 14px;
  background-color: var(--primary-color);
  width: fit-content;
  border-radius: 50%;
}
.Card .cardLogo img {
  width: 100%;
  height: 100%;
}
.Card .cardText h1 {
  font-size: 18px;
  line-height: 33px;
  margin-top: 12px;
  margin-bottom: 8px;
}
.Card .cardText p {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

@media screen and (max-width: 768px) {
  .WorkText {
    width: 100% !important;
  }
  .Card {
    max-width: 90%;
    margin: 0 auto;
  }
  .WorkText h1 {
    font-size: 34px !important;
  }
  .WorkTabs {
    margin-top: 40px !important;
  }
  .WorksContainer .MuiTabPanel-root {
    flex-direction: column !important;
  }
  .WorksContainer .MuiTabs-flexContainer {
    align-items: center !important;
    justify-content: center !important;
  }
}
